@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.container {
  margin: 2rem auto;
  text-align: center;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1.3rem;
  padding: 1rem;
}

input[type="text"] {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  font-size: 1.5rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

.reload-btn {
  margin-top: 1rem;
}

#result {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

ul {
  margin: 1rem;
}
.li-styling {
  list-style: none;
  font-size: 1.5rem;
  color: darkgray;
}
